<div class="activity-list">
  <div class="activity-list_container">
    <div class="activity-list_header">
      <div class="activity-list_top">
        <div class="header_avatar">
          <h5><fa-icon [icon]="faUser"></fa-icon>Sagun Giri</h5>
        </div>
      </div>
      <div class="header_btn">
        <div class="btn_back">
          <button routerLink="/activity"><fa-icon [icon]="faBackward"></fa-icon>Back</button>
        </div>
        <div class="btn_export">
          <button><fa-icon [icon]="faFileExport"></fa-icon>Export</button>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="main-header">
        <div class="main-header_team">
          <h1>TEAM ANGULAR</h1>
        </div>
        <div class="main-header_user">
          <h4><strong>NAME:</strong> Sanil Manandhar</h4>
        </div>
        <div class="date">
          <h2><strong>Date:</strong> 19th July - 24th July</h2>
        </div>
      </div>
    </div>

    <div class="main-table">
      <div class="table-container">
        <div class="user-table">
          <table id="usersTable">
            <tr>
              <th>Days</th>
              <th>Working Hours</th>

              <th>Action</th>
            </tr>
            <tr>
              <td>Sunday</td>

              <td>8 hours</td>
              <td><fa-icon [icon]="faEye"></fa-icon></td>
            </tr>
            <tr>
              <td>Monday</td>

              <td>8 hours</td>
              <td><fa-icon [icon]="faEye"></fa-icon></td>
            </tr>
            <tr>
              <td>Tuesday</td>

              <td>8 hours</td>
              <td><fa-icon [icon]="faEye"></fa-icon></td>
            </tr>
            <tr>
              <td>Wednesday</td>

              <td>8 hours</td>
              <td><fa-icon [icon]="faEye"></fa-icon></td>
            </tr>
            <tr>
              <td>Thursday</td>

              <td>8 hours</td>
              <td><fa-icon [icon]="faEye"></fa-icon></td>
            </tr>
            <tr>
              <td><strong>Total Hours</strong></td>

              <td><strong>40 hours</strong></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
