<div class="activity-list">
  <div class="activity-list_container">
    <div class="activity-list_header">
      <div class="activity-list_top">
        <div class="header_avatar">
          <h5><fa-icon [icon]="faUser"></fa-icon>Hi, Admin</h5>
        </div>
      </div>
      <div class="header_btn">
        <div class="btn_back">
          <button routerLink="/activity">
            <fa-icon [icon]="faBackward"></fa-icon>Back
          </button>
        </div>
        
        <button class="export-button" (click)="exportUserWeekData()" [disabled]="!hasData">
          <fa-icon [icon]="faFileExport"></fa-icon>Export
        </button>
      </div>
    </div>
    <div class="main">
      <div class="main-header">
        <div class="main-header_team">
          <h1>TEAM ANGULAR</h1>
        </div>
        <div class="main-header_user">
          <h4><strong>NAME:</strong><p>{{ selectedName }}</p></h4>
         
        </div>
      </div>
    </div>
    <div class="date">
      <mat-form-field class="date-range-picker">
        <mat-label>Select Date Range Here</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Start date"
            (dateChange)="startDateChanged($event)"
          />
          <input
            matEndDate
            placeholder="End date"
            (dateChange)="endDateChanged($event)"
          />
        </mat-date-range-input>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button (click)="fetchUsersData()" class="btn-fetch">Search</button>
    
     
    </div>
    <div class="error-message" *ngIf="dateRangeErrorMessage">{{ dateRangeErrorMessage }}</div>
    <div class="main-table">
      <div class="table-container">
        <div class="user-table">
          <table id="usersTable">
            <tr>
              <th>Week Day</th>
              <th>Working Hours</th>
              <th>Action</th>
            </tr>

            <tr *ngFor="let dayOfWeek of weekDays">
              <td>{{ dayOfWeek }}</td>
              <td>{{ getUserWorkingHoursForDay(dayOfWeek)  || '-' }}</td>
              <td>
                <button class="btn">
                  <fa-icon [icon]="faEye" (click)="goToUser(getUserActivityIdForDay(dayOfWeek))"></fa-icon>
                </button>
              </td>
            </tr>

            <tr class="date-range-error" *ngIf="showDateRangeError">
              <td colspan="3" style="text-align: center;">
                <strong>
                  Search for a Week to check working hours per day.
                </strong>
              </td>
            </tr>
            <tr class="loading-row" *ngIf="isLoading && !showDateRangeError">
              <td colspan="3">
                <h5>
                  <strong>
                    <i class="fas fa-spinner fa-spin"></i><br />Fetching the
                    Users Details. Please wait....
                  </strong>
                </h5>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>