<div class="activity-list">
    <div class="activity-list_container">
        <div class="activity-list_header">
            <div class="activity-list_top">
                <div class="header_avatar">
                    <h5>Sagun Giri</h5>
                </div>
            </div>
            <div class="header_btn">
                <div class="btn_back">
                    <button>Back</button>
                </div>
                <div class="btn_export">
                    <button>Export</button>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-header">
                <div class="main-header_team">
                    <h2>TEAM ANGULAR</h2>
                </div>
                <div class="main-header_user">
                    <h3>NAME: Sanil Manandhar</h3>
                </div>

            </div>
            <div class="main-table_date">
                <h3>Date: 16th July- 20th July</h3>
            </div>

        </div>
    </div>
</div>