
<div class="container p-4">
    <div class=" d-flex justify-content-end p-4">
        <button type="button" class="btn  btn-danger" (click)="addTeamDetails()">+ADD TEAM</button>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card m-4">
               
                <h5 class="card-title d-flex justify-content-center p-4">Angular Development</h5>
                <div class="buttons d-flex justify-content-around mb-4">
                    <button type="button" class="btn border-warning" (click)="gotoActivity()">Check In</button>
                    <!-- <button type="button" class="btn  border-danger">Delete Team</button> -->
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card m-4">
               
                <h5 class="card-title d-flex justify-content-center p-4">Java Development</h5>
                <div class="buttons d-flex justify-content-around mb-4">
                    <button type="button" class="btn  border-warning">Update Team</button>
                    <button type="button" class="btn  border-danger">Delete Team</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card m-4">
                
                <h5 class="card-title d-flex justify-content-center p-4">Mobile Development</h5>
                <div class="buttons d-flex justify-content-around mb-4">
                    <button type="button" class="btn  border-warning">Update Team</button>
                    <button type="button" class="btn  border-danger">Delete Team</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card m-4">
                <div class="card">
                 
                    <h5 class="card-title d-flex justify-content-center p-4">UI/UX</h5>
                    <div class="buttons d-flex justify-content-around mb-4">
                        <button type="button" class="btn  border-warning">Update Team</button>
                        <button type="button" class="btn  border-danger">Delete Team</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card m-4">
                <div class="card">
                    
                    <h5 class="card-title d-flex justify-content-center  p-4">Quality Assurance</h5>
                    <div class="buttons d-flex justify-content-around mb-4">
                        <button type="button" class="btn  border-warning">Update Team</button>
                        <button type="button" class="btn  border-danger">Delete Team</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" *ngFor="let formVal of teamFormValue; let i=index">
            <div class="card m-4">
                <div class="card">
                   
                    <h5 class="card-title d-flex justify-content-center  p-4">{{formVal.teamName}}</h5>
                    <p class=" p-1">{{formVal.teamDesc}}</p>
                    <div class="buttons d-flex justify-content-around mb-4">
                        <button type="button" class="btn  border-warning" (click)="updateTeam(formVal.id)">Update Team</button>
                        <button type="button" class="btn  border-danger" (click)="deleteTeam(i)">Delete Team</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

