/* Add Bootstrap container class to handle responsive layout */
.container {
    max-width: 80%;
    padding-right: 15px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
}

.col-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


.card-img-top {
    height: 200px; 
    object-fit: cover;
}


.row {
    margin-bottom: 20px;
}


.card p {
    font-size: 14px;
}


.footerr p {
    text-align: center;
}


@media (min-width: 992px) {
    .col-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media (max-width: 991px) {
    .col-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card-img-top {
        height: 150px; /* Adjust this value as needed */
    }

    .card p {
        font-size: 12px;
    }
}
