$companyBtn: #bd322f;

.btn.border-warning:hover {
    background-color: #ffc106;
}

.btn.border-danger:hover{
    background-color: #dd3444;
    color: #fff;
}

.footerr{

    // border-top: 2px solid $companyBtn;
    background-color: #fffaef;
    height:50px;

    p{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $companyBtn;


    }

    .pagination {
        margin-top: 5px;
      }
      .btn-paginate {
        border: none;
        width: 8rem;
        border-radius: 8px;
      }
      .page-no {
        width: 8rem;
      }
}

