<div class="row ">
    <div class="col-1 d-flex justify-content-end">
        <button type="submit" class="btn border-warning" (click)="goBackToTeamList()">Back</button>
    </div>
</div>

<div class="blank"></div>

<div class="row">
    <div class="col-3">

    </div>
    <div class="container mt-5 col-4">
        <div class="container-form">

            <h2>UPDATE TEAM DETAILS</h2>
            <form [formGroup]="teamDetails" class="row g-3" class="formDiv" (ngSubmit)="updateTeam()">
                <div class="container-form-input-div">
                    <input class="container-form-input" id="color" type="text" placeholder="Team Name" formControlName="teamName">
                    <span class="error1"
                        *ngIf="teamDetails.get('teamName')?.invalid && (teamDetails.get('teamName')?.touched || teamDetails.get('teamName')?.dirty || isSubmitted)">
                        <ng-container *ngIf="teamDetails.get('teamName')?.hasError('required')">Team Name
                            required!</ng-container>
                    </span>
                </div>

                <div class="container-form-input-desc-div">
                    <input class="container-form-input-desc" id="color" type="text" placeholder="Description"
                        formControlName="teamDesc">
                    <span class="error1"
                        *ngIf="teamDetails.get('teamDesc')?.invalid && (teamDetails.get('teamDesc')?.touched || teamDetails.get('teamDesc')?.dirty || isSubmitted)">
                        <ng-container *ngIf="teamDetails.get('teamDesc')?.hasError('required')">Description
                            required!</ng-container>
                    </span>
                </div>

                <div class="container-form-button-div">

                    <button type="submit" value="update" class="container-form-button">UPDATE</button>
                </div>

            </form>
        </div>
    </div>
    <div class="col-3">
    </div>
