<div class="row m-5"></div>
<div class="row">
  <div class="col-3"></div>
  <div class="container mt-5 col-4">
    <div class="container-form">
      <h2><strong>ADD COMPANY DETAILS</strong></h2>
      <br>
      <form
        [formGroup]="companyDetails"
        class="row g-3"
        class="formDiv"
        (ngSubmit)="addCompany()"
      >
        <div class="container-form-input-div">
          <input
            class="container-form-input"
            id="color"
            type="text"
            placeholder="Serial No."
            formControlName="id"
          />
        </div>
        <div class="container-form-input-div">
          <input
            class="container-form-input"
            id="color"
            type="text"
            placeholder="Company Name"
            formControlName="companyName"
          />
          <span
            class="error1"
            *ngIf="
              companyDetails.get('companyName')?.invalid &&
              (companyDetails.get('companyName')?.touched ||
                companyDetails.get('companyName')?.dirty ||
                isSubmitted)
            "
          >
            <ng-container
              *ngIf="companyDetails.get('companyName')?.hasError('required')"
              >Company Name required!</ng-container
            >
          </span>
        </div>

        <div class="container-form-input-div">
          <input
            class="container-form-input"
            id="color"
            type="text"
            placeholder="Address"
            formControlName="address"
          />
          <span
            class="error1"
            *ngIf="
              companyDetails.get('address')?.invalid &&
              (companyDetails.get('address')?.touched ||
                companyDetails.get('address')?.dirty ||
                isSubmitted)
            "
          >
            <ng-container
              *ngIf="companyDetails.get('address')?.hasError('required')"
              >Address required!</ng-container
            >
          </span>
        </div>

        <div class="container-form-input-desc-div">
          <input
            class="container-form-input-desc"
            id="color"
            type="text"
            placeholder="Description"
            formControlName="companyDesc"
          />
          <span
            class="error1"
            *ngIf="
              companyDetails.get('companyDesc')?.invalid &&
              (companyDetails.get('companyDesc')?.touched ||
                companyDetails.get('companyDesc')?.dirty ||
                isSubmitted)
            "
          >
            <ng-container
              *ngIf="companyDetails.get('companyDesc')?.hasError('required')"
              >Description required!</ng-container
            >
          </span>
        </div>

        <div class="container-form-input-div">
          <input
            class="container-form-input"
            id="color"
            type="text"
            placeholder="+9779876532525"
            formControlName="contact"
          />
          <span
            class="error1"
            *ngIf="
              companyDetails.get('contact')?.invalid &&
              (companyDetails.get('contact')?.touched ||
                companyDetails.get('contact')?.dirty ||
                isSubmitted)
            "
          >
            <ng-container
              *ngIf="companyDetails.get('contact')?.hasError('required')"
              >Contact required!</ng-container
            >
          </span>
        </div>

        <div class="container-form-input-div">
          <input
            class="container-form-input"
            id="color"
            type="text"
            placeholder="Website URL"
            formControlName="url"
          />
          <span
            class="error1"
            *ngIf="
              companyDetails.get('url')?.invalid &&
              (companyDetails.get('url')?.touched ||
                companyDetails.get('url')?.dirty ||
                isSubmitted)
            "
          >
            <ng-container
              *ngIf="companyDetails.get('url')?.hasError('required')"
              >Website URL required!</ng-container
            >
            <ng-container *ngIf="companyDetails.get('url')?.hasError('pattern')"
              >Invalid url format!</ng-container
            >
          </span>
        </div>

        <div class="container-form-button-div">
          <button
            type="submit"
            value="Add company"
            class="container-form-button"
          >
            SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-3"></div>
</div>
