
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nxtplann-primary: mat.define-palette(mat.$indigo-palette);
$nxtplann-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$nxtplann-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$nxtplann-theme: mat.define-light-theme((
  color: (
    primary: $nxtplann-primary,
    accent: $nxtplann-accent,
    warn: $nxtplann-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($nxtplann-theme);
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:wght@500&family=Orbitron:wght@900&family=PT+Sans&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
@import './app/features/auth/login/pages/login.component.scss';
@import './app/features/auth/login/pages/login.component.scss';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
$primary-button: #d11d27;
$secondary-button: #aa0010;
$home-background: #fffaef;
$color:           #faecd8;
$arko-red:        #bd322f;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.toast-error {
  background-image: none !important;
    width: 480px;
    background-color: red;
    color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    animation-name: slidein;
    animation-duration: 1s;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; 
  
    
  }
  
    @keyframes slidein {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  

  

.toast-success {
    width: 480px;
    background-image: none !important;
    background-color: green;
    color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    animation-name: slidein;
    animation-duration: 1s;
    padding: 18px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .toast-success .toast-progress {
    background-color: yellow;
    height: 8px; 
  }
  .toast-success .toast-progress {
    background-color: blue; 
    height: 8px; 
  }
  


