/* You can add global styles to this file, and also import other style files */
$primary-button: #d11d27;
$secondary-button: #aa0010;
$home-background: #fffaef;
$color:           #faecd8;
$arko-red:        #bd322f;